@keyframes scroll-down-icon {
	from {
		bottom: 0;
	}
	to {
		bottom: 15px;
	}
}

@keyframes open-menu {
	from {
		right: -100vw;
	}
	to {
		right: 0;
	}
}

@keyframes pulse {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.15);
	}
}